USE [Ych_PR_KM]
GO
/****** Object:  Table [dbo].[Academics]    Script Date: 22.11.2023 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Academics](
	[Id_academics] [int] NOT NULL,
	[FIO] [nvarchar](100) NULL,
	[Date_Born] [date] NULL,
	[Id_Specialization] [int] NULL,
	[Year_rank] [int] NULL,
 CONSTRAINT [PK_Academics] PRIMARY KEY CLUSTERED 
(
	[Id_academics] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Animal_Kornilova_Marushkina]    Script Date: 22.11.2023 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animal_Kornilova_Marushkina](
	[ID] [int] NOT NULL,
	[Otrad] [nvarchar](40) NULL,
 CONSTRAINT [Animal_Kornilova_MarushkinaID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Application]    Script Date: 22.11.2023 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Application](
	[Id_Application] [int] NOT NULL,
	[Id_Speciality] [nchar](10) NULL,
	[Id_Discipline] [int] NULL,
 CONSTRAINT [PK_Application] PRIMARY KEY CLUSTERED 
(
	[Id_Application] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Boss]    Script Date: 22.11.2023 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boss](
	[Id_Boss] [int] NOT NULL,
	[Rang] [int] NULL,
 CONSTRAINT [PK_Boss] PRIMARY KEY CLUSTERED 
(
	[Id_Boss] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Continent]    Script Date: 22.11.2023 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Continent](
	[Id_Continent] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Continent] PRIMARY KEY CLUSTERED 
(
	[Id_Continent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Control_Kornilova_Marushkina]    Script Date: 22.11.2023 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Control_Kornilova_Marushkina](
	[ID] [int] NOT NULL,
	[Surname] [nvarchar](40) NULL,
 CONSTRAINT [Control_Kornilova_MarushkinaID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries_Kornilova_Marushkina]    Script Date: 22.11.2023 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries_Kornilova_Marushkina](
	[ID] [int] NOT NULL,
	[Square] [int] NOT NULL,
 CONSTRAINT [Countries_Kornilova_MarushkinaID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 22.11.2023 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id_Country] [int] NOT NULL,
	[Name_Country] [nvarchar](50) NULL,
	[Capital] [nvarchar](50) NULL,
	[Square] [float] NULL,
	[Population] [int] NULL,
	[Id_Continent] [int] NULL,
	[Type_Control] [int] NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Id_Country] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Degree]    Script Date: 22.11.2023 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Degree](
	[Id_Degree] [int] NOT NULL,
	[Name_Degree] [nvarchar](50) NULL,
 CONSTRAINT [PK_Degree] PRIMARY KEY CLUSTERED 
(
	[Id_Degree] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departament]    Script Date: 22.11.2023 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departament](
	[Cipher] [nchar](10) NOT NULL,
	[Name_Departament] [nvarchar](50) NULL,
	[AbbreviationID] [nchar](10) NULL,
 CONSTRAINT [PK_Departament] PRIMARY KEY CLUSTERED 
(
	[Cipher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discipline]    Script Date: 22.11.2023 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discipline](
	[Id_Discipline] [int] IDENTITY(1,1) NOT NULL,
	[Volume] [int] NULL,
	[Name_Discipline] [nvarchar](50) NULL,
	[CipherID] [nchar](10) NULL,
 CONSTRAINT [PK_Discipline] PRIMARY KEY CLUSTERED 
(
	[Id_Discipline] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 22.11.2023 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id_Number] [int] IDENTITY(1,1000) NOT NULL,
	[CipherID] [nchar](10) NULL,
	[LastName] [nvarchar](50) NULL,
	[Id_Pozition] [int] NULL,
	[Id_Boss] [int] NULL,
	[Id_Rank] [int] NULL,
	[Id_Degree] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Engineer]    Script Date: 22.11.2023 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Engineer](
	[Id_Engineer] [int] NOT NULL,
	[Id_Spec] [int] NULL,
 CONSTRAINT [PK_Engineer] PRIMARY KEY CLUSTERED 
(
	[Id_Engineer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exame]    Script Date: 22.11.2023 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exame](
	[Id_Exam] [int] NOT NULL,
	[Date_Exam] [date] NULL,
	[Id_Discipline] [int] NULL,
	[Id_Student] [int] NULL,
	[Id_Teacher] [int] NULL,
	[Auditoria] [nchar](10) NULL,
	[Grade] [int] NULL,
 CONSTRAINT [PK_Exame] PRIMARY KEY CLUSTERED 
(
	[Id_Exam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faculty]    Script Date: 22.11.2023 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculty](
	[Abbreviation] [nchar](10) NOT NULL,
	[Name_Faculty] [nvarchar](50) NULL,
 CONSTRAINT [PK_Faculty] PRIMARY KEY CLUSTERED 
(
	[Abbreviation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flowers_Kornilova_Marushkina]    Script Date: 22.11.2023 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flowers_Kornilova_Marushkina](
	[ID] [int] NOT NULL,
	[Class] [nvarchar](40) NULL,
 CONSTRAINT [Flowers_Kornilova_MarushkinaID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Learner]    Script Date: 22.11.2023 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Learner](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[SubjectL] [varchar](50) NOT NULL,
	[School] [varchar](50) NOT NULL,
	[Scores] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pozition]    Script Date: 22.11.2023 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pozition](
	[Id_Pozition] [int] NOT NULL,
	[Name_Pozition] [nvarchar](50) NULL,
	[Salary] [money] NULL,
 CONSTRAINT [PK_Pozition] PRIMARY KEY CLUSTERED 
(
	[Id_Pozition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rank]    Script Date: 22.11.2023 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rank](
	[Id_Rank] [int] NOT NULL,
	[Name_Rank] [nvarchar](50) NULL,
 CONSTRAINT [PK_Rank] PRIMARY KEY CLUSTERED 
(
	[Id_Rank] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Spec]    Script Date: 22.11.2023 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Spec](
	[Id_Spec] [int] NOT NULL,
	[Name_Spec] [nvarchar](50) NULL,
 CONSTRAINT [PK_Spec] PRIMARY KEY CLUSTERED 
(
	[Id_Spec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Speciality]    Script Date: 22.11.2023 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Speciality](
	[Id_Speciality] [nchar](10) NOT NULL,
	[Name_Speciality] [nvarchar](50) NULL,
	[CipherID] [nchar](10) NULL,
 CONSTRAINT [PK_Speciality] PRIMARY KEY CLUSTERED 
(
	[Id_Speciality] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialization]    Script Date: 22.11.2023 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialization](
	[Id_Spezialization] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Specialization] PRIMARY KEY CLUSTERED 
(
	[Id_Spezialization] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 22.11.2023 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id_Student] [int] NOT NULL,
	[Id_Speciality] [nchar](10) NULL,
	[LastName_Student] [nvarchar](50) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Id_Student] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentDiscipline]    Script Date: 22.11.2023 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentDiscipline](
	[Id_SD] [int] NOT NULL,
	[Id_Discipline] [int] NULL,
	[Id_Student] [int] NULL,
 CONSTRAINT [PK_StudentDiscipline] PRIMARY KEY CLUSTERED 
(
	[Id_SD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_Control]    Script Date: 22.11.2023 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_Control](
	[Id_Control] [int] NOT NULL,
	[Type] [nvarchar](50) NULL,
 CONSTRAINT [PK_Type_Control] PRIMARY KEY CLUSTERED 
(
	[Id_Control] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[View_6]    Script Date: 22.11.2023 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[View_6](
	[Номер недели] [int] NULL,
	[Количество экзаменов] [int] NULL,
	[Количество студентов] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[View_7]    Script Date: 22.11.2023 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[View_7](
	[Continent] [varchar](50) NULL,
	[Square] [float] NULL,
	[Square1] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Гимназисты]    Script Date: 22.11.2023 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Гимназисты](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[SubjectL] [varchar](50) NOT NULL,
	[School] [varchar](50) NOT NULL,
	[Scores] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Academics] ([Id_academics], [FIO], [Date_Born], [Id_Specialization], [Year_rank]) VALUES (1, N'Аничков Николай Николаевич', CAST(N'1885-11-03' AS Date), 1, 1939)
INSERT [dbo].[Academics] ([Id_academics], [FIO], [Date_Born], [Id_Specialization], [Year_rank]) VALUES (2, N'Бартольд Василий Владимирович', CAST(N'1869-11-15' AS Date), 2, 1913)
INSERT [dbo].[Academics] ([Id_academics], [FIO], [Date_Born], [Id_Specialization], [Year_rank]) VALUES (3, N'Белопольский Аристарх Аполлонович', CAST(N'1854-07-13' AS Date), 3, 1903)
GO
INSERT [dbo].[Application] ([Id_Application], [Id_Speciality], [Id_Discipline]) VALUES (1, N'01.03.04  ', 101)
INSERT [dbo].[Application] ([Id_Application], [Id_Speciality], [Id_Discipline]) VALUES (2, N'01.03.04  ', 205)
INSERT [dbo].[Application] ([Id_Application], [Id_Speciality], [Id_Discipline]) VALUES (3, N'01.03.04  ', 209)
GO
INSERT [dbo].[Boss] ([Id_Boss], [Rang]) VALUES (101, 15)
INSERT [dbo].[Boss] ([Id_Boss], [Rang]) VALUES (102, 4)
INSERT [dbo].[Boss] ([Id_Boss], [Rang]) VALUES (201, 18)
GO
INSERT [dbo].[Continent] ([Id_Continent], [Name]) VALUES (1, N'Европа')
INSERT [dbo].[Continent] ([Id_Continent], [Name]) VALUES (2, N'Азия')
INSERT [dbo].[Continent] ([Id_Continent], [Name]) VALUES (3, N'Африка')
GO
INSERT [dbo].[Country] ([Id_Country], [Name_Country], [Capital], [Square], [Population], [Id_Continent], [Type_Control]) VALUES (1, N'Австрия', N'Вена', 83858, 8741753, 1, 4)
INSERT [dbo].[Country] ([Id_Country], [Name_Country], [Capital], [Square], [Population], [Id_Continent], [Type_Control]) VALUES (2, N'Азербайджан', N'Баку', 86600, 9705600, 2, NULL)
INSERT [dbo].[Country] ([Id_Country], [Name_Country], [Capital], [Square], [Population], [Id_Continent], [Type_Control]) VALUES (3, N'Албания', N'Тирана', 28748, 2866026, 1, NULL)
GO
INSERT [dbo].[Degree] ([Id_Degree], [Name_Degree]) VALUES (1, N'д. т.н.')
INSERT [dbo].[Degree] ([Id_Degree], [Name_Degree]) VALUES (2, N'к. ф.-м. н.')
INSERT [dbo].[Degree] ([Id_Degree], [Name_Degree]) VALUES (3, N'к. т.н.')
GO
INSERT [dbo].[Departament] ([Cipher], [Name_Departament], [AbbreviationID]) VALUES (N'вм        ', N'Высшая математика', N'Ен        ')
INSERT [dbo].[Departament] ([Cipher], [Name_Departament], [AbbreviationID]) VALUES (N'ис        ', N'Информационные системы', N'Ит        ')
INSERT [dbo].[Departament] ([Cipher], [Name_Departament], [AbbreviationID]) VALUES (N'мм        ', N'Математическое моделирование', N'Фм        ')
GO
SET IDENTITY_INSERT [dbo].[Discipline] ON 

INSERT [dbo].[Discipline] ([Id_Discipline], [Volume], [Name_Discipline], [CipherID]) VALUES (101, 320, N'Математика', N'вм        ')
INSERT [dbo].[Discipline] ([Id_Discipline], [Volume], [Name_Discipline], [CipherID]) VALUES (102, 160, N'Информатика', N'пи        ')
INSERT [dbo].[Discipline] ([Id_Discipline], [Volume], [Name_Discipline], [CipherID]) VALUES (103, 160, N'Физика', N'оф        ')
SET IDENTITY_INSERT [dbo].[Discipline] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id_Number], [CipherID], [LastName], [Id_Pozition], [Id_Boss], [Id_Rank], [Id_Degree]) VALUES (101, N'пи        ', N'Прохоров П.П.', 1, 101, 1, 2)
INSERT [dbo].[Employee] ([Id_Number], [CipherID], [LastName], [Id_Pozition], [Id_Boss], [Id_Rank], [Id_Degree]) VALUES (102, N'пи        ', N'Семенов С.С.', 2, 101, 2, 2)
INSERT [dbo].[Employee] ([Id_Number], [CipherID], [LastName], [Id_Pozition], [Id_Boss], [Id_Rank], [Id_Degree]) VALUES (105, N'пи        ', N'Петров П.П.', 2, 101, 2, 3)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
INSERT [dbo].[Engineer] ([Id_Engineer], [Id_Spec]) VALUES (153, 1)
INSERT [dbo].[Engineer] ([Id_Engineer], [Id_Spec]) VALUES (241, 1)
INSERT [dbo].[Engineer] ([Id_Engineer], [Id_Spec]) VALUES (242, 2)
GO
INSERT [dbo].[Exame] ([Id_Exam], [Date_Exam], [Id_Discipline], [Id_Student], [Id_Teacher], [Auditoria], [Grade]) VALUES (1, CAST(N'2015-06-05' AS Date), 102, 10101, 102, N'т505      ', 4)
INSERT [dbo].[Exame] ([Id_Exam], [Date_Exam], [Id_Discipline], [Id_Student], [Id_Teacher], [Auditoria], [Grade]) VALUES (2, CAST(N'2015-06-05' AS Date), 102, 10102, 102, N'т505      ', 4)
INSERT [dbo].[Exame] ([Id_Exam], [Date_Exam], [Id_Discipline], [Id_Student], [Id_Teacher], [Auditoria], [Grade]) VALUES (3, CAST(N'2015-06-05' AS Date), 202, 20101, 202, N'т506      ', 4)
GO
INSERT [dbo].[Faculty] ([Abbreviation], [Name_Faculty]) VALUES (N'Гн        ', N'Гуманитарные науки')
INSERT [dbo].[Faculty] ([Abbreviation], [Name_Faculty]) VALUES (N'Ен        ', N'Естественные науки')
INSERT [dbo].[Faculty] ([Abbreviation], [Name_Faculty]) VALUES (N'Ит        ', N'Информационные технологии')
GO
SET IDENTITY_INSERT [dbo].[Learner] ON 

INSERT [dbo].[Learner] ([ID], [LastName], [SubjectL], [School], [Scores]) VALUES (1, N'Иванова', N'Математика', N'Лицей', 98.5)
INSERT [dbo].[Learner] ([ID], [LastName], [SubjectL], [School], [Scores]) VALUES (2, N'Петров', N'Физика', N'Лицей', 99)
INSERT [dbo].[Learner] ([ID], [LastName], [SubjectL], [School], [Scores]) VALUES (3, N'Сидоров', N'Математика', N'Лицей', 88)
SET IDENTITY_INSERT [dbo].[Learner] OFF
GO
INSERT [dbo].[Pozition] ([Id_Pozition], [Name_Pozition], [Salary]) VALUES (1, N'зав. кафедрой', 35000.0000)
INSERT [dbo].[Pozition] ([Id_Pozition], [Name_Pozition], [Salary]) VALUES (2, N'преподаватель', 25000.0000)
INSERT [dbo].[Pozition] ([Id_Pozition], [Name_Pozition], [Salary]) VALUES (3, N'инженер', 15000.0000)
GO
INSERT [dbo].[Rank] ([Id_Rank], [Name_Rank]) VALUES (1, N'профессор')
INSERT [dbo].[Rank] ([Id_Rank], [Name_Rank]) VALUES (2, N'доцент')
INSERT [dbo].[Rank] ([Id_Rank], [Name_Rank]) VALUES (3, N'ассистент')
GO
INSERT [dbo].[Spec] ([Id_Spec], [Name_Spec]) VALUES (1, N'электроник')
INSERT [dbo].[Spec] ([Id_Spec], [Name_Spec]) VALUES (2, N'программист')
GO
INSERT [dbo].[Speciality] ([Id_Speciality], [Name_Speciality], [CipherID]) VALUES (N'01.03.04  ', N'Прикладная математика', N'мм        ')
INSERT [dbo].[Speciality] ([Id_Speciality], [Name_Speciality], [CipherID]) VALUES (N'09.03.02  ', N'Информационные системы и технологии', N'ис        ')
INSERT [dbo].[Speciality] ([Id_Speciality], [Name_Speciality], [CipherID]) VALUES (N'09.03.03  ', N'Прикладная информатика', N'пи        ')
GO
INSERT [dbo].[Specialization] ([Id_Spezialization], [Name]) VALUES (1, N'медицина')
INSERT [dbo].[Specialization] ([Id_Spezialization], [Name]) VALUES (2, N'историк')
INSERT [dbo].[Specialization] ([Id_Spezialization], [Name]) VALUES (3, N'астрофизик')
GO
INSERT [dbo].[Student] ([Id_Student], [Id_Speciality], [LastName_Student]) VALUES (10101, N'09.03.03  ', N'Николаева Н. Н.')
INSERT [dbo].[Student] ([Id_Student], [Id_Speciality], [LastName_Student]) VALUES (10102, N'09.03.03  ', N'Иванов И. И.')
INSERT [dbo].[Student] ([Id_Student], [Id_Speciality], [LastName_Student]) VALUES (10103, N'09.03.03  ', N'Крюков К. К.')
GO
INSERT [dbo].[StudentDiscipline] ([Id_SD], [Id_Discipline], [Id_Student]) VALUES (1, 101, 10101)
INSERT [dbo].[StudentDiscipline] ([Id_SD], [Id_Discipline], [Id_Student]) VALUES (2, 101, 10102)
INSERT [dbo].[StudentDiscipline] ([Id_SD], [Id_Discipline], [Id_Student]) VALUES (3, 101, 10103)
GO
INSERT [dbo].[Type_Control] ([Id_Control], [Type]) VALUES (1, N'Конституционная монархия')
INSERT [dbo].[Type_Control] ([Id_Control], [Type]) VALUES (2, N'Абсолютная монархия')
INSERT [dbo].[Type_Control] ([Id_Control], [Type]) VALUES (3, N'Президентская республика')
GO
INSERT [dbo].[View_6] ([Номер недели], [Количество экзаменов], [Количество студентов]) VALUES (23, 2, 7)
INSERT [dbo].[View_6] ([Номер недели], [Количество экзаменов], [Количество студентов]) VALUES (24, 4, 6)
INSERT [dbo].[View_6] ([Номер недели], [Количество экзаменов], [Количество студентов]) VALUES (25, 3, 4)
GO
INSERT [dbo].[View_7] ([Continent], [Square], [Square1]) VALUES (N'1', 244820, 0.2)
INSERT [dbo].[View_7] ([Continent], [Square], [Square1]) VALUES (N'2', 647500, 372)
INSERT [dbo].[View_7] ([Continent], [Square], [Square1]) VALUES (N'3', 2381740, 638)
GO
ALTER TABLE [dbo].[Animal_Kornilova_Marushkina] ADD  CONSTRAINT [DF_Animal_Kornilova_Marushkina]  DEFAULT ('Хищные') FOR [Otrad]
GO
ALTER TABLE [dbo].[Control_Kornilova_Marushkina] ADD  CONSTRAINT [DF_Control_Kornilova_Marushkina]  DEFAULT ('Корнилова/Марушкина') FOR [Surname]
GO
ALTER TABLE [dbo].[Flowers_Kornilova_Marushkina] ADD  CONSTRAINT [DF_Flowers_Kornilova_Marushkina]  DEFAULT ('Двудольные') FOR [Class]
GO
ALTER TABLE [dbo].[Academics]  WITH CHECK ADD  CONSTRAINT [FK_Academics_Specialization] FOREIGN KEY([Id_Specialization])
REFERENCES [dbo].[Specialization] ([Id_Spezialization])
GO
ALTER TABLE [dbo].[Academics] CHECK CONSTRAINT [FK_Academics_Specialization]
GO
ALTER TABLE [dbo].[Application]  WITH CHECK ADD  CONSTRAINT [FK_Application_Discipline] FOREIGN KEY([Id_Discipline])
REFERENCES [dbo].[Discipline] ([Id_Discipline])
GO
ALTER TABLE [dbo].[Application] CHECK CONSTRAINT [FK_Application_Discipline]
GO
ALTER TABLE [dbo].[Application]  WITH CHECK ADD  CONSTRAINT [FK_Application_Speciality] FOREIGN KEY([Id_Speciality])
REFERENCES [dbo].[Speciality] ([Id_Speciality])
GO
ALTER TABLE [dbo].[Application] CHECK CONSTRAINT [FK_Application_Speciality]
GO
ALTER TABLE [dbo].[Country]  WITH CHECK ADD  CONSTRAINT [FK_Country_Continent] FOREIGN KEY([Id_Continent])
REFERENCES [dbo].[Continent] ([Id_Continent])
GO
ALTER TABLE [dbo].[Country] CHECK CONSTRAINT [FK_Country_Continent]
GO
ALTER TABLE [dbo].[Country]  WITH CHECK ADD  CONSTRAINT [FK_Country_Type_Control] FOREIGN KEY([Type_Control])
REFERENCES [dbo].[Type_Control] ([Id_Control])
GO
ALTER TABLE [dbo].[Country] CHECK CONSTRAINT [FK_Country_Type_Control]
GO
ALTER TABLE [dbo].[Departament]  WITH CHECK ADD  CONSTRAINT [FK_Departament_Faculty] FOREIGN KEY([AbbreviationID])
REFERENCES [dbo].[Faculty] ([Abbreviation])
GO
ALTER TABLE [dbo].[Departament] CHECK CONSTRAINT [FK_Departament_Faculty]
GO
ALTER TABLE [dbo].[Discipline]  WITH CHECK ADD  CONSTRAINT [FK_Discipline_Departament] FOREIGN KEY([CipherID])
REFERENCES [dbo].[Departament] ([Cipher])
GO
ALTER TABLE [dbo].[Discipline] CHECK CONSTRAINT [FK_Discipline_Departament]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Boss] FOREIGN KEY([Id_Boss])
REFERENCES [dbo].[Boss] ([Id_Boss])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Boss]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Degree] FOREIGN KEY([Id_Degree])
REFERENCES [dbo].[Degree] ([Id_Degree])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Degree]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Departament] FOREIGN KEY([CipherID])
REFERENCES [dbo].[Departament] ([Cipher])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Departament]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Pozition] FOREIGN KEY([Id_Pozition])
REFERENCES [dbo].[Pozition] ([Id_Pozition])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Pozition]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Rank] FOREIGN KEY([Id_Rank])
REFERENCES [dbo].[Rank] ([Id_Rank])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Rank]
GO
ALTER TABLE [dbo].[Engineer]  WITH CHECK ADD  CONSTRAINT [FK_Engineer_Spec] FOREIGN KEY([Id_Spec])
REFERENCES [dbo].[Spec] ([Id_Spec])
GO
ALTER TABLE [dbo].[Engineer] CHECK CONSTRAINT [FK_Engineer_Spec]
GO
ALTER TABLE [dbo].[Exame]  WITH CHECK ADD  CONSTRAINT [FK_Exame_Discipline] FOREIGN KEY([Id_Discipline])
REFERENCES [dbo].[Discipline] ([Id_Discipline])
GO
ALTER TABLE [dbo].[Exame] CHECK CONSTRAINT [FK_Exame_Discipline]
GO
ALTER TABLE [dbo].[Exame]  WITH CHECK ADD  CONSTRAINT [FK_Exame_Employee] FOREIGN KEY([Id_Teacher])
REFERENCES [dbo].[Employee] ([Id_Number])
GO
ALTER TABLE [dbo].[Exame] CHECK CONSTRAINT [FK_Exame_Employee]
GO
ALTER TABLE [dbo].[Exame]  WITH CHECK ADD  CONSTRAINT [FK_Exame_Student] FOREIGN KEY([Id_Student])
REFERENCES [dbo].[Student] ([Id_Student])
GO
ALTER TABLE [dbo].[Exame] CHECK CONSTRAINT [FK_Exame_Student]
GO
ALTER TABLE [dbo].[Speciality]  WITH CHECK ADD  CONSTRAINT [FK_Speciality_Departament] FOREIGN KEY([CipherID])
REFERENCES [dbo].[Departament] ([Cipher])
GO
ALTER TABLE [dbo].[Speciality] CHECK CONSTRAINT [FK_Speciality_Departament]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Speciality] FOREIGN KEY([Id_Speciality])
REFERENCES [dbo].[Speciality] ([Id_Speciality])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Speciality]
GO
ALTER TABLE [dbo].[StudentDiscipline]  WITH CHECK ADD  CONSTRAINT [FK_StudentDiscipline_Discipline] FOREIGN KEY([Id_Discipline])
REFERENCES [dbo].[Discipline] ([Id_Discipline])
GO
ALTER TABLE [dbo].[StudentDiscipline] CHECK CONSTRAINT [FK_StudentDiscipline_Discipline]
GO
ALTER TABLE [dbo].[StudentDiscipline]  WITH CHECK ADD  CONSTRAINT [FK_StudentDiscipline_Student] FOREIGN KEY([Id_Student])
REFERENCES [dbo].[Student] ([Id_Student])
GO
ALTER TABLE [dbo].[StudentDiscipline] CHECK CONSTRAINT [FK_StudentDiscipline_Student]
GO
ALTER TABLE [dbo].[Countries_Kornilova_Marushkina]  WITH CHECK ADD  CONSTRAINT [CK_Kornilova_MarushkinaSquare] CHECK  (([Square]>(10000)))
GO
ALTER TABLE [dbo].[Countries_Kornilova_Marushkina] CHECK CONSTRAINT [CK_Kornilova_MarushkinaSquare]
GO
ALTER TABLE [dbo].[Learner]  WITH CHECK ADD CHECK  (([Scores]>=(0) AND [Scores]<=(100)))
GO
